<div class="experience-background" style="padding-bottom: 120px">
  <div class="fade-in-div">
  <h1 class="aboutMain-text centered-text">Resume</h1>
  <hr style="border-top: 2px solid #ffffff; width: 300px; right: 50%">
  <hr style="border-top: 2px solid #ffffff; width: 200px; right: 50%">
  <hr style="border-top: 2px solid #ffffff; width: 100px; right: 50%">
    <a href="assets/VasilisGadalaResumeSept2023.pdf" download="VasilisGadalaResume.pdf" style="text-decoration: none">
      <p class="aboutContent-text" style="font-size: 20px; text-decoration: none">Click to Download PDF</p>
    </a>
   <p class="aboutContent-text">Experience</p>
  <div class="split-container">
    <div class="left-content">
      <!-- Left side content goes here -->
      <div class="left-paragraph">
        <h2>Wayfair Software Engineering Co-Op</h2>
        <p>January 2023 - June 2023</p>
      </div>
      <div class="left-paragraph">
        <h2>Teaching Assistant - Object Oriented Design</h2>
        <p>September 2022 - December 2022</p>
      </div>
      <div class="left-paragraph">
        <h2>Aragon High School Robotics CAD Engineer</h2>
        <p>June 2017 - June 2021</p>
      </div>
    </div>
    <div class="split-line"></div> <!-- Vertical line -->
    <div class="right-content">
      <!-- Right side content goes here -->
      <div class="right-paragraph" style="padding-top: 5px">
        <p>
          Backend Software Engineer working on Supplier APIs.
          Primarily focused in relaying data from APIs to databases to identify benefits, usage, and common failure points.
          Developed skills in Java SpringBoot, PHP, SQL, and general backend development in an AGILE CI/CD environment.
        </p>
      </div>
      <div class="right-paragraph" style="padding-top: 18px">
        <p>
          Individually hosted a 19-person lab and reinforced concept knowledge during office hours.
          Graded homework and exams and collaborated with peers and faculty to best deliver course material.
        </p>
      </div>
      <div class="right-paragraph" style="padding-top: 48px">
        <p>
          Led CAD design of the drivetrain for our FTC robotics team. Developed over 20 parts with over 50 total iterations.
          Team qualified for the FTC World Championship in 2021.
        </p>
      </div>
    </div>
  </div>
  <p class="aboutContent-text">Education</p>
  <div class="split-container">
    <div class="left-content">
      <!-- Left side content goes here -->
      <div class="left-paragraph">
        <h2>BSCS @ Northeastern University</h2>
        <p>September 2021 - Present</p>
      </div>
      </div>
    <div class="split-line"></div> <!-- Vertical line -->
    <div class="right-content">
      <!-- Right side content goes here -->
      <div class="right-paragraph">
        <p>Studying BSCS with a concentration in AI and a minor in Robotics. Planning to pursue Plus One program for MSCS.
        Consistently part of the Dean's list. 3.845 cumulative GPA</p>
      </div>
    </div>
  </div>
</div>
</div>

