.experience-background {
  top: 0;
  left: 0;
  width: 100%;
  background: #000000;
  background-size: cover;
}

.aboutMain-text {
  padding-top: 120px;
  margin: 0;
  font-size: 50px;
  color: #ffffff;

}

.aboutContent-text {
  font-family: "Baskerville", serif;
  font-weight: normal;
  font-size: 40px;
  color: #999999;
  text-align: center;
  /*padding-left: 15%;*/
  /*padding-right: 20%;*/
  padding-top: 60px;
}

.aboutHeader-text {
  font-family: "Baskerville", serif;
  font-weight: normal;
  font-size: 30px;
  color: #999999;
  padding-left: 20%;
  padding-right: 25%;

}

.aboutParagraph-text {
  font-family: "Baskerville", serif;
  font-weight: normal;
  font-size: 30px;
  color: #999999;
  padding-left: 20%;
  padding-right: 25%;
}


.centered-text {
  font-family: "Baskerville", serif;
  font-weight: normal;
  text-align: center;
}
.split-container {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

/* Add this CSS to your stylesheet */
.left-content {
  padding-right: 20px;
  color: #D2B48C;
  flex: 2;
  width: 40%; /* Left side takes up 40% of the screen */
  background-color: #000000; /* Left side background color */
  display: inline-block; /* Use inline-block for layout */
  box-sizing: border-box; /* Use border-box for box model */  grid-template-columns: 1fr; /* Create one column for content */
  align-items: flex-end; /* Align items to the bottom */
  justify-content: flex-start; /* Start content from the top */
}

.left-content p {
  color: #fff;
  display: inline-block; /* Use inline-block for layout */
  box-sizing: border-box; /* Use border-box for box model */
}

.right-content {
  color: #666666;
  font-size: 24px;
  width: 60%; /* Right side takes up 60% of the screen */
  background-color: #000000; /* Right side background color */
  padding: 0 10% 0 20px;
  display: inline-block; /* Use inline-block for layout */
  box-sizing: border-box; /* Use border-box for box model */
}

.right-paragraph {
  color: #666666; /* Set text color for right-paragraph */
  display: inline-block; /* Use inline-block for layout */
  vertical-align: top; /* Align top of right-paragraph with top of container */
  margin-left: 20px; /* Adjust as needed for spacing */
  width: calc(100% - 20px); /* Calculate width to account for margin */
  box-sizing: border-box; /* Use border-box for box model */
}

.split-line {
  width: 1px; /* Set the width of the vertical line */
  background-color: #666666; /* Vertical line color */
  padding-top: 20px;
  /*margin-top: 100px; !* Start the line 100px below the top *!*/
}
/* Additional styles for paragraphs */

.left-paragraph {
  padding-left: 40%;
  margin-top: 5px;
}

/* Initial state, divs are initially hidden */
.fade-in-div {
  opacity: 0;
  /* Set the background color directly, it won't fade in */
  transition: opacity 2s; /* Transition only opacity */
}

/* Fade in when the element is in the viewport */
.fade-in-div.fade-in {
  opacity: 1;
  /* Keep the background color constant */
}
