<div class="experience-background" style="padding-bottom: 120px">
  <h1 class="aboutMain-text centered-text">Resume</h1>
  <hr style="border-top: 2px solid #ffffff; width: 300px; right: 50%">
  <hr style="border-top: 2px solid #ffffff; width: 200px; right: 50%">
  <hr style="border-top: 2px solid #ffffff; width: 100px; right: 50%">
   <p class="aboutContent-text">Experience</p>
  <div class="split-container">
    <div class="left-content">
      <!-- Left side content goes here -->
      <div class="left-paragraph">
        <h2>Wayfair Software Engineering Co-Op</h2>
        <p>January 2023 - June 2023</p>
      </div>
      <div class="left-paragraph">
        <h2>Teaching Assistant - Object Oriented Design</h2>
        <p>September 2022 - December 2022</p>
      </div>
      <div class="left-paragraph">
        <h2>Aragon High School CAD Engineer</h2>
        <p>June 2017 - June 2021</p>
      </div>
    </div>
    <div class="split-line"></div> <!-- Vertical line -->
    <div class="right-content">
      <!-- Right side content goes here -->
      <div class="right-paragraph">
        <p>This is a right paragraph aligned with the first left paragraph.</p>
      </div>
      <div class="right-paragraph">
        <p>Another right paragraph aligned with the second left paragraph.</p>
      </div>
      <div class="right-paragraph">
        <p>Another right paragraph aligned with the second left paragraph.</p>
      </div>
    </div>
  </div>
  <p class="aboutContent-text">Education</p>
  <div class="split-container">
    <div class="left-content">
      <!-- Left side content goes here -->
      <div class="left-paragraph">
        <h2>BSCS @ Northeastern University</h2>
        <p>September 2021 - Present</p>
      </div>
      </div>
    <div class="split-line"></div> <!-- Vertical line -->
    <div class="right-content">
      <!-- Right side content goes here -->
      <div class="right-paragraph">
        <p>This is a right paragraph aligned with the first left paragraph.</p>
      </div>
    </div>
  </div>
</div>
