<div id="about">
  <h1 class="aboutMain-text centered-text">About</h1>
  <p class="aboutContent-text centered-text">
    I'm a 3rd year undergraduate pursuing a bachelor's degree in Computer Science
    at Northeastern University. specializing in AI with a minor in Robotics.
    After graduation, I plan to pursue a one-year Master's in Computer Science.
  </p>
  <p class="aboutContent-text centered-text">
    I'm passionate about tackling challenging problems and open to exploring diverse fields,
    including full-stack development, cybersecurity, robotics, AI, machine learning, and data science.
  </p>
  <h1 class="aboutMain-text centered-text">Skills Overview</h1>
  <p class="aboutContent-text">

  </p>
  <p class="aboutContent-text centered-text">
    Languages:
  </p>
  <div class="list-container">
    <div class="list-section">
      <h2>Very Experienced (> 10K LOC)</h2>
      <ul class="colored-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>

    <div class="list-section">
      <h2>Experienced (> 2K LOC)</h2>
      <ul class="colored-list">
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
      </ul>
    </div>

    <div class="list-section">
      <h2>Learning (> 500 LOC)</h2>
      <ul class="colored-list">
        <li>Item 7</li>
        <li>Item 8</li>
        <li>Item 9</li>
      </ul>
    </div>
  </div>


</div>
