<div class="background-image">
  <div class="fade-in-div">
  <h1 class="aboutMain-text centered-text">About</h1>
  <p class="aboutContent-text centered-text" style="font-size: 20px">
    I'm a 3rd year undergraduate pursuing a bachelor's degree in Computer Science
    at Northeastern University, specializing in AI with a minor in Robotics.
    After graduation, I plan to pursue a one-year Master's in Computer Science.
  </p>
  <p class="aboutContent-text centered-text" style="font-size: 20px">
    I'm passionate about tackling challenging problems and open to exploring diverse fields,
    including full-stack development, cybersecurity, robotics, AI, machine learning, and data science.
  </p>
  <h1 class="aboutMain-text centered-text" style="padding-bottom: 50px">Skills Overview</h1>
  <p class="aboutContent-text">

  </p>
  <p class="aboutContent-text centered-text">
    Programming Languages:
  </p>
  <hr style="border-top: 1px solid #ffffff; width: 66%; right: 50%">


  <div class="list-container">
    <div class="list-section">
      <h2>> 10K Lines of Code</h2>
      <ul class="colored-list">
        <li>Java</li>
      </ul>
    </div>

    <div class="list-section">
      <h2>> 2K Lines of Code</h2>
      <ul class="colored-list">
        <li>Python</li>
        <li>SQL</li>
        <li>C++</li>
      </ul>
    </div>

    <div class="list-section">
      <h2>> 500 Lines of Code</h2>
      <ul class="colored-list">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
      </ul>
    </div>
  </div>

  <p class="aboutContent-text centered-text">
    Tools:
  </p>
  <hr style="border-top: 1px solid #ffffff; width: 50%; right: 50%">

  <div class="list-container">
    <div class="list-section">
      <h2>Experienced</h2>
      <ul class="colored-list">
        <li>Git</li>
        <li>Google BigQuery</li>
        <li>Linux/MacOS</li>
        <li>Windows</li>
      </ul>
    </div>

    <div class="list-section">
      <h2>Learning</h2>
      <ul class="colored-list">
        <li>React</li>
        <li>Angular</li>
        <li>Azure</li>
        <li>Kafka</li>
        <li>Flask</li>
      </ul>
    </div>
  </div>
<!--  2 Sections Here: Experienced, Learning  -->
<!--  Git, React, Angular, Azure, GBQ, Flask, (Linux, Windows, MacOS)  -->

</div>
</div>
