<div class="background-image">
  <h1 class="aboutMain-text centered-text">Projects</h1>
  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/NY_Housing_ML_Models">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Housing Price Predictor
  </h2>
  <p class="aboutParagraph-text">Designed program that compared 3 Machine Learning Models to predict Housing
    Prices in NYC within $250k. Performed tuning of ML Models and analyzed advantages of such models
  </p>

  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/Mazes">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Maze Generator/Solver
  </h2>
  <p class="aboutParagraph-text">Built program that constructs and solves a maze, including visual representation of the
    traversal and solution. Implemented Kruskal’s algorithm in Java to create maze with a minimum spanning tree.
    Maze can be completed in depth first or breadth first search </p>

  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/Banner2.0">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Banner 2.0
  </h2>
  <p class="aboutParagraph-text">Designed a MySQL database storing data similar to a college advising portal.
    Developed an application with a REST API to display a use-case of the database
  </p>
  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/ImageProcessor">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Image Processor
  </h2>
  <p class="aboutParagraph-text">Designed application capable of applying image filters through linear transformations.
    Implemented 14 operations to edit images, 2 involving image kernels. Developed
    visualization using Java Swing. Utilized design patterns for abstraction
  </p>

  <h2 class="aboutContent-text">
    <a href="https://github.com/AdityaGupta03/GraphicsEngine">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Graphics Engine
  </h2>
  <p class="aboutParagraph-text">Developed a basic graphic engine capable of loading, rendering, and manipulating 3D
  models. Additionally supports basic camera functionality through keyboard inputs</p>

  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/AudioVisualizer">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Audio Visualizer
  </h2>
  <p class="aboutParagraph-text">Developed JavaScript application that displays frequencies of audio files, mapping
    them to a color spectrum. Developing audio reactive LEDs through Arduino control.
    Processing mp3 audio to frequency visualizer using JavaScript p5’s FFT library</p>

  <h2 class="aboutContent-text">
    <a href="https://github.com/VasilisGadala/PersonalWebsite">
    <img src="assets/icons8-github-480.png" alt="Github Logo" style="width: 40px; padding-right: 10px">
    </a>
    Personal Website
  </h2>
  <p class="aboutParagraph-text">Check out the code for this webpage!</p>

  <p class="aboutParagraph-text" style="font-size: 14px; padding-top: 100px;">Last Updated: 9/9/2023</p>
</div>
