<div class="info-bar">
  <div class="background-line"></div>
  <div class="info-background"></div>
  <div class="social-links">
    <a [class.active]="activeSection === 'home'" (click)="scrollToSection('#home')" class="social-link hover-text">Home</a>
    <a [class.active]="activeSection === 'about'" (click)="scrollToSection('#about')" class="social-link hover-text">About</a>
    <a [class.active]="activeSection === 'resume'" (click)="scrollToSection('#resume')" class="social-link hover-text">Resume</a>
    <a [class.active]="activeSection === 'projects'" (click)="scrollToSection('#projects')" class="social-link hover-text">Projects</a>
  </div>
</div>
