<div class="video-background">
  <video autoplay loop [muted]="true" id="background-video">
    <source src="assets/Timeline%203.mov" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<div class="centered-content">
  <img class="profile-image" src="assets/1621849800272.jpg" alt="Profile Image">
  <h2 class="centered-text">Vasilis Gadala</h2>
  <div class="image-container">
    <a class="image" href="mailto:vasilisgadala@gmail.com">
      <img src="assets/mail-142.png" alt="Image 1" class="image">
    </a>
    <a class="image center-image" href="https://www.linkedin.com/in/vasilis-gadala/">
      <img src="assets/iconmonstr-linkedin-3-240.png" alt="Image 2" class="image">
    </a>
    <a class="image" href="https://github.com/VasilisGadala">
      <img src="assets/iconmonstr-github-1-240.png" alt="Image 3" class="image">
    </a>
  </div>
</div>
