a {
  text-decoration: none;
  color: inherit;
}

.video-background {
  position: relative;
  width: 100%;
  height: calc(100vw * 9 / 16); /* Maintain a 16:9 aspect ratio */
  min-height: 1000px;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
  /*transform: translate(0, -80px); !* Vertically center the video *!*/
  filter: brightness(0.6);
  opacity: 0.6;
}

/* Your existing CSS styles here */
/*.background-image {*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  background: url('https://wallpapers.com/images/featured/pure-black-amh1tqh06166z417.jpg') center/cover no-repeat;*/
/*  !*filter: opacity(0.3);*!*/
/*}*/

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.centered-text {
  font-size: 60px;
  font-family: "Baskerville", serif;
  font-weight: normal;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: auto;
  margin: 0; /* Adjust the spacing between the images as needed */
}

.center-image {
  padding-left: 30%;
  padding-right: 30%;
  /*position: absolute; !* Adjust the spacing between the images as needed *!*/
}
