.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://wallpapers.com/images/featured/pure-black-amh1tqh06166z417.jpg') center/cover no-repeat;
  filter: opacity(0.3);

}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*border: 2px solid #FFA500; !* Change to your desired border color *!*/
}

.centered-text {
  font-size: 40px;
  font-family: "Baskerville", serif;
  font-weight: normal;
}
