/* You can add global styles to this file, and also import other style files */
body, html, p {
  margin: 0;
  padding: 0;
}



.container-small {
  padding: 25vh 20px 75vh;
  font-family: "Baskerville", serif;
  color: #666666;
  background: #000000;
  font-size: 40px;
  position: relative;
}

.container-large {}

@media (min-width: 768px) {
  .container-small {
    display: None;
  }
}

@media (max-width: 767px) {
  .container-large {
    display: None;
  }
}
